[MAIN]
ignore=praw

[MESSAGES CONTROL]
disable=
    invalid-name,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    missing-final-newline,
    suppressed-message,
    useless-suppression,
    no-else-return,
    too-many-locals,
    too-many-statements,
    too-few-public-methods,
    too-many-public-methods,
    too-many-instance-attributes
